@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');



:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte1);
    
}

html, body {
    max-height: 100%;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

header h1 {
    font-family: var(--fonte2);
    font-size: 10vw;
    
}

header  p{
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 4vw;
    
}

section p{
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;

}
section.imagem {
    background-color: rgba(51, 51, 51, 0.733);  
    color: white; 
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 1px 1px 0px black;
    box-shadow: inset 6px 6px 13px 0px black;
    
}

section#imagem01 {
    background-image: url(../imagens/joaninha.jpg);
    background-position: right center;
}

section#imagem02 {
    background-image: url(../imagens/poema.jpg);    
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.548);
    display: inline-block;
    padding: 5px;
    
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2vh;
    font-size: 2vw;
}
